user              {{getenv "APP_USER" "app"}};
worker_processes  auto;
error_log         /proc/self/fd/2;
daemon            off;

events {
  worker_connections 1024;
}

http {
  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /var/log/nginx/access.log  main;

  sendfile            on;
  tcp_nopush          on;
  tcp_nodelay         on;
  keepalive_timeout   65;
  types_hash_max_size 2048;

  include             /etc/nginx/mime.types;
  default_type        application/octet-stream;
  index               index.html index.htm index.php;

  server {
    listen  8080 default_server;
    root    {{getenv "NGINX_WEB_ROOT" "/app"}};

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ /\.ht {
      deny all;
    }

    location ~ /.well-known {
      allow all;
    }

    location ~ \.php$ {
      include                 /etc/nginx/fastcgi_params;
      try_files               $uri =404;
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_pass            127.0.0.1:{{getenv "PHP_FPM_PORT" "9000"}};
      fastcgi_param           SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_index           index.php;
    }
  }
}
