;;;;;;;;;;;;;;;;;;
; Global Options ;
;;;;;;;;;;;;;;;;;;

[global]
error_log = /proc/self/fd/2
daemonize = no

[app]
user                  = {{getenv "APP_USER" "app"}}
group                 = {{getenv "APP_GROUP" "app"}}
listen                = {{getenv "PHP_FPM_PORT" "9000"}}
pm                    = static
pm.max_children       = {{getenv "PHP_MAX_PROCS" "2"}}
pm.status_path        = /{{getenv "PHP_SECRET_KEY" "cfc05035528bde5c6aabe7a8a7945715"}}-status
ping.path             = /{{getenv "PHP_SECRET_KEY" "cfc05035528bde5c6aabe7a8a7945715"}}-ping
ping.response         = pong
catch_workers_output  = yes
clear_env             = no
access.log            = /proc/self/fd/2

; PHP Configuration Options
php_admin_value[error_log]      = /proc/self/fd/2
php_admin_flag[log_errors]      = on
php_value[session.save_handler] = files
php_value[session.save_path]    = /tmp
